__pycache__
__pycahce__/
__pycahce__/*

app/__pycache__
app/__pycache__/
app/__pycache__/*

binary_class_results_interpretation/__pycache__
binary_class_results_interpretation/__pycache__/
binary_class_results_interpretation/__pycache__/*

logs
logs/
logs/*

models/__pycache__
models/__pycache__/
models/__pycache__/*

models/bert
models/bert/
model/bert/*

parsers/__pycache__
parsers/__pycache__/
parsers/__pycache__/*
