<!DOCTYPE html>
<html class="back_image">
	<head>
		<meta charset="utf-8">
		<!--<link rel="stylesheet" href="{{ url_for('static', filename='style_font_Oswald.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style_menu.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">-->
		<link rel="stylesheet" href="../static/style_fonts.css" type="text/css">
		<link rel="stylesheet" href="../static/style_menu.css" type="text/css">
		<link rel="stylesheet" href="../static/style.css" type="text/css">
		<title>Troll detector</title>
		<link rel="shortcut icon" href="../static/pic/troll.png" type="image/png">
	</head>
	<body>
		<header class="wrapper">
			<h1 class="name_service">Сервис по определению троллинга<br>в ответе на вопрос</h1>
		</header>
		<div class="content" style="text-align: center;">
			<!-- <nav>
				<ul class="top-menu">
					<li><a href="/q_a/"> Вопрос-ответ</a></li>
					<li><a href="/link/">Поиск по ссылке</a></li>
					<li><a href="/history/">История запросов</a></li>
					<li><a href="/service/">О сервисе</a></li>
				</ul>
			</nav> -->
			<form style="padding-top:50px;" name="login" action="/registration/" method="post">
				<div style="padding-bottom: 15px;">
					<label style="display: block; padding-bottom: 5px;" for="username">Email</label>
					<input type="email" id="username" name="email" style="height: 30px; width: 250px; border-radius: 20px;">
				</div>
				<div style="padding-bottom: 10px;">
					<label style="display: block; padding-bottom: 5px;" for="pass">Пароль (минимум 8 символов):</label>
					<input type="password" id="pass" name="password"
							minlength="8" required style="height: 30px; width: 250px; border-radius: 20px;">
				</div>
				<div style="padding-bottom: 10px;">
					<label style="display: block; padding-bottom: 5px;" for="password_copy">Повторите пароль:</label>
					<input type="password" id="password_copy" name="password_copy"
							minlength="8" required style="height: 30px; width: 250px; border-radius: 20px;">
				</div>
					{{ info }}
				<p><button name="submit">Зарегистрироваться</button></p>
				<div style="padding-top: 10px; padding-bottom: 60px;" id="div_aut" class="head_aut">
					<a style="padding-right: 20px;" href="/autentification/">Авторизироваться</a>
					<a href="/guest/">Войти как гость</a>
				</div>
		</div>
		<footer class="footer">
			<p style="padding-left: 20px;"><a href="https://made.mail.ru"></a><img src="../static/pic/made.svg"><br>
				communitysixdevelopers © 2020</p>
        </footer>
	</body>
</html>