<html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="../static/style_table.css"/>
	    </head>
        <body>
            <table border="1" class="dataframe mystyle" id="table_prob">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Вопрос</th>
      <th>Ответ</th>
      <th>Вероятность</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>18</th>
      <td>Кто снял фильм "Страх и ненависть в Лас-Вегасе"?</td>
      <td>режисер - Терри Гиллиам а снял - оператор</td>
      <td>0.100</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Кто снял фильм "Страх и ненависть в Лас-Вегасе"?</td>
      <td>...а снял-оператор Никола Пекорини</td>
      <td>0.414</td>
    </tr>
  </tbody>
</table>
            <script src="../static/doubleClickRowTable.js"></script>
        </body>
        </html>
        