<html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="../static/style_table.css"/>
	    </head>
        <body>
            <table border="1" class="dataframe mystyle" id="table_prob">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Вопрос</th>
      <th>Ответ</th>
      <th>Вероятность</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Купи "Кетанов" - поможет.</td>
      <td>0.769</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Это банально, но - ехать к врачу!</td>
      <td>0.533</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Полоскать раствором поваренной соли</td>
      <td>0.502</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>если куришь - то затянись и подержи дым во рту, а если нет - тогда таблетки обезболивающие</td>
      <td>0.622</td>
    </tr>
    <tr>
      <th>4</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Пару таблеток баралгина и ноги в руки, бегом к стоматологу!!!</td>
      <td>0.807</td>
    </tr>
    <tr>
      <th>5</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Выпей анальгин. На пару часов поможет.</td>
      <td>0.037</td>
    </tr>
    <tr>
      <th>6</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Da, ja tosche storonnik atakovat na sijy minyty obesbalivajyschimi tabletkami, oslabit bol i idti k vrachy!! Ibyprofen ili est spez. nem. asperir ratiofarm.</td>
      <td>0.332</td>
    </tr>
    <tr>
      <th>7</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Поздравляю с номером вопроса!</td>
      <td>0.037</td>
    </tr>
    <tr>
      <th>8</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Кетанов или баралгин!</td>
      <td>0.382</td>
    </tr>
    <tr>
      <th>9</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>если нет лекарств, то кусочек сала поможет. на зуб положи, пройдет боль.проверено</td>
      <td>0.263</td>
    </tr>
    <tr>
      <th>10</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>если есть на работе сода то сделай такое: в стакан воды добавь пару капель йода, чайную ложку соли и полоскай</td>
      <td>0.945</td>
    </tr>
    <tr>
      <th>11</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>В стакане воды размешать 1 чайную ложку соли с горкой, в этом растворе мочить и отжать марлю, которую привязывать к больному месту. Прикладывать к губам, а помогает зубам! Когда повязка высохнет, опять намочить и привязать.</td>
      <td>0.517</td>
    </tr>
    <tr>
      <th>12</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>офигеть 1234567</td>
      <td>0.835</td>
    </tr>
    <tr>
      <th>13</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>Полоскай рот каждые 30 минут вот чем: возьми стакан с ТЕПЛОЙ водой потом насыпь туда половину чайной ложки СОДЫ ПИЩЕВОЙ размешай а потом полоскай этим каждые 30 мин. мне помогло это тебе надеюсь тоже поможет</td>
      <td>0.295</td>
    </tr>
    <tr>
      <th>14</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>123\nйцу\nqwe\n!@#\n!"№\nЛол кек чебурек кек лол арбидол\nСп за халву</td>
      <td>0.409</td>
    </tr>
    <tr>
      <th>15</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>вы баловались ссылкой, и пришли к этому комментарию, дак вот я хотел сказать ЖОПА</td>
      <td>0.622</td>
    </tr>
    <tr>
      <th>16</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>1234567-ой вопрос)</td>
      <td>0.857</td>
    </tr>
    <tr>
      <th>17</th>
      <td>BOLIT ZUB NA RABOTE CHTO NADO DELAT?</td>
      <td>1234567</td>
      <td>0.594</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Кто снял фильм "Страх и ненависть в Лас-Вегасе"?</td>
      <td>режисер - Терри Гиллиам а снял - оператор</td>
      <td>0.100</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Кто снял фильм "Страх и ненависть в Лас-Вегасе"?</td>
      <td>...а снял-оператор Никола Пекорини</td>
      <td>0.414</td>
    </tr>
  </tbody>
</table>
            <script src="../static/doubleClickRowTable.js"></script>
        </body>
        </html>
        